<div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="#" style="font-size:20px">AusiForExCompare</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="assets/images/users/avatar.jpg" alt="John Doe" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <!--<img src="assets/images/users/free_logo.jpg" alt="John Doe" />-->
                        </div>
                    </div>
                </li>
                <li class="active xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Foreign Transfers</span></a>
                    <ul>
                        <li><a [routerLink]="['']"><span class="fa fa-image"></span>Buy</a></li>
                        <li><a [routerLink]="['']"><span class="fa fa-user"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Travel Notes</span></a>
                    <ul>
                        <li><a [routerLink]="['travelnotes']"><span class="fa fa-image"></span>Buy</a></li>
                        <li><a [routerLink]="['travelnotes']"><span class="fa fa-user"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Travellers Cheque</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Buy</a></li>
                        <li><a href="#"><span class="fa fa-user"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Foreign Cheques</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Buy</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Draft</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Graphs</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Compare Rates</a></li>
                    </ul>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>