<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>AusiForExCompare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" type="text/css" id="theme" href="layout/css/theme-default.css" />
    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="js/vendor/es6-shim/es6-shim.min.js"></script>

    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>

    <script type="text/javascript" src="layout/js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="layout/js/plugins/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="layout/js/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- END PLUGINS -->
    <!-- START THIS PAGE PLUGINS-->
    <script type='text/javascript' src='layout/js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="layout/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="layout/js/plugins/scrolltotop/scrolltopcontrol.js"></script>

    <script type="text/javascript" src="layout/js/plugins/morris/raphael-min.js"></script>
    <script type="text/javascript" src="layout/js/plugins/morris/morris.min.js"></script>
    <script type="text/javascript" src="layout/js/plugins/rickshaw/d3.v3.js"></script>
    <script type="text/javascript" src="layout/js/plugins/rickshaw/rickshaw.min.js"></script>
    <script type='text/javascript' src='layout/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js'></script>
    <script type='text/javascript' src='layout/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js'></script>
    <script type='text/javascript' src='layout/js/plugins/bootstrap/bootstrap-datepicker.js'></script>
    <script type="text/javascript" src="layout/js/plugins/owl/owl.carousel.min.js"></script>

    <script type="text/javascript" src="layout/js/plugins/moment.min.js"></script>
    <script type="text/javascript" src="layout/js/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- END THIS PAGE PLUGINS-->
    <!-- START TEMPLATE -->
    <script type="text/javascript" src="layout/js/plugins.js"></script>
    <script type="text/javascript" src="layout/js/actions.js"></script>    

    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
</head>
<body>
    <div class="page-container">
        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="index.html" style="font-size:20px">AusiForExCompare</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="assets/images/users/avatar.jpg" alt="John Doe" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <!--<img src="assets/images/users/free_logo.jpg" alt="John Doe" />-->
                        </div>
                    </div>
                </li>
                <li class="active xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Foreign Transfers</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Buy</a></li>
                        <li><a href="#"><span class="fa fa-user"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Travel Notes</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Buy</a></li>
                        <li><a href="#"><span class="fa fa-user"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Travellers Cheque</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Buy</a></li>
                        <li><a href="#"><span class="fa fa-user"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Foreign Cheques</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Buy</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Draft</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Sell</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-desktop"></span> <span class="xn-text">Graphs</span></a>
                    <ul>
                        <li><a href="#"><span class="fa fa-image"></span>Compare Rates</a></li>
                    </ul>
                </li>
            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel"></ul>
            <!-- PAGE CONTENT WRAPPER -->
            <!-- END PAGE CONTENT WRAPPER -->
            <my-app>Loading...</my-app>
        </div>
        <!-- END PAGE CONTENT -->
    </div>
<script>
    System.import('app').catch(function(err){ console.error(err);  });
</script>
</body>
</html>
