<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>AusiForExCompare</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="layout/css/navbar-fixed-side.css" rel="stylesheet" />
    <link href="layout/css/font-awesome.min.css" rel="stylesheet" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>    

    <!-- 1. Load libraries -->
    <!-- Polyfill(s) for older browsers -->
    <script src="js/vendor/es6-shim/es6-shim.min.js"></script>

    <script src="js/vendor/zone.js/dist/zone.js"></script>
    <script src="js/vendor/reflect-metadata/Reflect.js"></script>
    <script src="js/vendor/systemjs/dist/system.src.js"></script>

    <script src="layout/js/jquery-1.10.2.min.js"></script>
    <script src="layout/js/bootstrap.min.js"></script>
    <script src="layout/js/plugins.js"></script>

    <!-- 2. Configure SystemJS -->
    <script src="systemjs.config.js"></script>
</head>
<body>
<!--<div><my-app>Loading...</my-app></div>-->
<div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <nav class="navbar navbar-default navbar-fixed-side">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="./">OZForexCompare</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Foreign Transfer <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Travel Notes <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Travellers Cheques <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Foreign Cheques <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Draft <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Graphs <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>

            </div>
            <div class="col-sm-9 col-lg-10">
                <div class="row">
                    <nav class="navbar navbar-inverse navbar-static-top header-bar">
                        <div class="container-fluid">

                        </div>
                    </nav>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="panel-searchbar panel-success">
                            <div class="panel-body">
                                <div class="col-sm-3">
                                    <p style="font-size: 30px">I want to convert</p>
                                </div>
                                <div class="col-sm-2">
                                    <input type="text" class="form-control input-lg" value="1000" />
                                </div>
                                <div class="col-sm-2">
                                    <select class="form-control select" style="display: none;">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                    <button type="button" class="btn dropdown-toggle btn-default btn-lg" data-toggle="dropdown" title="Option 1" aria-expanded="false">
                                        <span class="pull-left">Option 1</span>&nbsp;<span class="caret"></span>
                                    </button>
                                </div>
                                <div class="col-sm-1" style="font-size: 30px">To</div>
                                <div class="col-sm-2">
                                    <select class="form-control select" style="display: none;">
                                        <option>Option 1</option>
                                        <option>Option 2</option>
                                        <option>Option 3</option>
                                        <option>Option 4</option>
                                        <option>Option 5</option>
                                    </select>
                                    <button type="button" class="btn dropdown-toggle btn-default btn-lg" data-toggle="dropdown" title="Option 1" aria-expanded="false"><span class="pull-left">Option 1</span>&nbsp;<span class="caret"></span></button>

                                </div>
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-success btn-lg">GO</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">Commonwealth Bank</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="layout/img/cba.gif" class="pull-left" style="width: 100px;height: 80px; padding-left:10px; padding-right:10px; padding-top:10px" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="alert alert-info" role="alert">
                                            <strong>Exchange Rate</strong> 0.112234
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="widget widget-primary">
                                            <div class="widget-title">TOTAL</div>
                                            <div class="widget-int">$ <span data-toggle="counter" data-to="1564">1,564</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-4 pull-left">
                                        <button type="button" class="btn-tile btn-tile-success" data-container="body" data-toggle="popover" data-placement="left" data-content="Last Updated" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa fa-calendar"></span></button>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-6">
                                        <div>
                                            <button type="button" class="btn-tile btn-tile-warning"><span class="fa fa-globe"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-4">
                                        <div class="pull-right">
                                            <button type="button" class="btn-tile btn-tile-danger" data-container="body" data-toggle="popover" data-placement="left" data-content="Disclaimer goes here" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa-exclamation-triangle"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">NAB</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="layout/img/nab.jpg" class="pull-left" style="width: 100px;height: 80px; padding-left:10px; padding-right:10px; padding-top:10px" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="alert alert-info" role="alert">
                                            <strong>Exchange Rate</strong> 0.112234
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="widget widget-primary">
                                            <div class="widget-title">TOTAL</div>
                                            <div class="widget-int">$ <span data-toggle="counter" data-to="1564">1,564</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-4 pull-left">
                                        <button type="button" class="btn-tile btn-tile-success" data-container="body" data-toggle="popover" data-placement="left" data-content="Last Updated" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa fa-calendar"></span></button>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-6">
                                        <div>
                                            <button type="button" class="btn-tile btn-tile-warning"><span class="fa fa-globe"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-4">
                                        <div class="pull-right">
                                            <button type="button" class="btn-tile btn-tile-danger" data-container="body" data-toggle="popover" data-placement="left" data-content="Disclaimer goes here" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa-exclamation-triangle"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">ANZ</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="layout/img/anz.png" class="pull-left" style="width: 100px;height: 80px; padding-left:10px; padding-right:10px; padding-top:10px" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="alert alert-info" role="alert">
                                            <strong>Exchange Rate</strong> 0.112234
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="widget widget-primary">
                                            <div class="widget-title">TOTAL</div>
                                            <div class="widget-int">$ <span data-toggle="counter" data-to="1564">1,564</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-4 pull-left">
                                        <button type="button" class="btn-tile btn-tile-success" data-container="body" data-toggle="popover" data-placement="left" data-content="Last Updated" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa fa-calendar"></span></button>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-6">
                                        <div>
                                            <button type="button" class="btn-tile btn-tile-warning"><span class="fa fa-globe"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-4">
                                        <div class="pull-right">
                                            <button type="button" class="btn-tile btn-tile-danger" data-container="body" data-toggle="popover" data-placement="left" data-content="Disclaimer goes here" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa-exclamation-triangle"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title pull-left">Westpac</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <img src="layout/img/westpac.jpg" class="pull-left" style="width: 100px;height: 80px; padding-left:10px; padding-right:10px; padding-top:10px" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="alert alert-info" role="alert">
                                            <strong>Exchange Rate</strong> 0.112234
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="widget widget-primary">
                                            <div class="widget-title">TOTAL</div>
                                            <div class="widget-int">$ <span data-toggle="counter" data-to="1564">1,564</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-sm-4 pull-left">
                                        <button type="button" class="btn-tile btn-tile-success" data-container="body" data-toggle="popover" data-placement="left" data-content="Last Updated" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa fa-calendar"></span></button>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-6">
                                        <div>
                                            <button type="button" class="btn-tile btn-tile-warning"><span class="fa fa-globe"></span></button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 col-sm-push-4">
                                        <div class="pull-right">
                                            <button type="button" class="btn-tile btn-tile-danger" data-container="body" data-toggle="popover" data-placement="left" data-content="Disclaimer goes here" data-original-title="" title="" aria-describedby="popover845264"><span class="fa fa-exclamation-triangle"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    System.import('app').catch(function(err){ console.error(err);  });
</script>
</body>
</html>
