<nav class="navbar navbar-default navbar-fixed-side">
                    <div class="container">
                        <div class="navbar-header">
                            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">OZForexCompare</a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Foreign Transfer <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a [routerLink]="['']">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Travel Notes <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a [routerLink]="['travelnotes']">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Travellers Cheques <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a [routerLink]="['travelcheques']">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Foreign Cheques <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Draft <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Graphs <b class="caret"></b></a><ul class="dropdown-menu">
                                        <li><a href="#">Buy</a></li>
                                        <li><a href="#">Sell</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>